body{
  background-color: rgb(8, 1, 1);
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:small;
  overflow: hidden;
  display: flex;
  justify-content: center;
}



h1{
  color: brown;
  text-align: center;
}
.background-image{
  box-shadow: rgb(0, 162, 255) 4px 4px 41px 1px;
  position: relative;
  top: 2rem;
  display: flex;
  width: 50rem;
  min-height: 30rem;
  border-radius: 30px;
  transition: background 1s ease-in-out;
  animation: glow 2s infinite alternate;
}

.images{
  width: 80rem;
  height: 30rem;
  object-fit: cover;
  margin: 20px 20px;
  border-radius: 30px;
overflow: hidden;}
.left-button{
  position: fixed;
  top: 20rem;
  left: 20.5vw;
}

.right-button{
  position:  fixed;
  top: 20rem;
  right:  20.5vw;;
}

@media screen and (max-width:420px) {

  body{
    background-color: rgb(8, 1, 1);
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:small;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .background-image{
    box-shadow: rgb(0, 162, 255) 4px 4px 41px 1px;
    position: relative;
    top: 2rem;
    display: flex;
    width: 20rem;
    min-height: 30rem;
    border-radius: 30px;
    transition: background 1s ease-in-out;
    animation: glow 2s infinite alternate;
  }

}